.blog-title, .blog-title a{
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 26px;
    color: #e6c00d;
}

.blog-content{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 20px;
}

.blog-post {
    padding-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e3e3e3;
}

.blog-thumbnail{
    float: left;
    margin-right: 10px;
    height: 150px;
}

.excerpt-image{
    height: 300px;
    background-size: contain;
    background: rgb(241, 241, 241) no-repeat center center;
}

.excerpt-image-small{
    height: 160px;
    width: 160px;
    background-size: contain;
    background: rgb(241, 241, 241) no-repeat center center;
}

.pagina-seleccionada a{
    background-color: #FFD300 !important;
    color: #ffffff !important;
}

.pagination a{
    color: #000000 !important;
}
