@font-face {
    font-family: 'GillSansMTItalic';
    src: url('../fonts/gillsans-italic.eot');
    src: url('../fonts/gillsans-italic.eot') format('embedded-opentype'),
    url('../fonts/gillsans-italic.woff') format('woff'),
    url('../fonts/gillsans-italic.ttf') format('truetype'),
    url('../fonts/gillsans-italic.svg#GillSansMTItalic') format('svg');
}

@font-face {
    font-family: 'GillSansMTBoldItalic';
    src: url('../fonts/gillsans-bolditalic.eot');
    src: url('../fonts/gillsans-bolditalic.eot') format('embedded-opentype'),
    url('../fonts/gillsans-bolditalic.woff') format('woff'),
    url('../fonts/gillsans-bolditalic.ttf') format('truetype'),
    url('../fonts/gillsans-bolditalic.svg#GillSansMTBoldItalic') format('svg');
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.row{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

a {
    color: #ffdf00;
    text-decoration: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

a:hover {
    color: #fff800;
    text-decoration: underline;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.form-group label{
    padding: 0 0 0 0;
}

.form-control {
    padding: 0 0 0 0;
}