.navbar-embossed > .navbar-collapse {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-nav.nav-justified > li{
    float:none;
}

.navbar-nav li a{
    display:block;
    color:#5c5c5c;
    text-decoration:none;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav li a:hover{
    color:#dfb800;
}

.navbar-nav li.active{
    background-color:#FFD302;
}
.navbar-nav li.active a{
    color:#fff;
}

.navbar-toggle:before {
    color: #ffffff !important;
}

.navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-nav {
    margin: 0 0px;
}
.navbar-nav > li > a {
    font-size: 16px;
    padding: 10px 15px;
}
.header-main{
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
}

.header-logo {
    background: #FFD302 url('../img/logo_Fs_v2.png') no-repeat center;
}

@media (max-width: 455px){
    .header-logo{
        background-position: 0 50%;
    }
}

@media (max-width: 370px){
    .header-logo{
        background-size: 200px 57px;
    }
    .navbar-toggle{
        padding-right: 0px;
    }
}

.header-description {
    padding-top:38px;
    padding-left:14px;
    padding-bottom: 15px;
    font-family: 'GillSansMTBoldItalic';
    color:#b7b7b7;
    font-size:14px;
    line-height:16px;
}

.header-description span{
    font-family: 'GillSansMTItalic';
    color:#b7b7b7;
    font-size:14px;
    line-height:16px;
}

.header-logo, .header-logo button, .buscador-container, .buscador-field{
height: 86px;
}

.buscador-container{
    background: #E5E5E5 url(../img/search_icon.png) no-repeat 90% 50%;
    padding-right: 0;
    padding-left: 15px;
    margin-left: -15px;
}

.buscador-field{
    font-family:"Open Sans", sans-serif;
    border:none;
    font-size:18px;
    line-height:32px;
    font-style:italic;
    color:#3d3d3d;
    background: transparent;
    outline: none !important;
}

.header-menu {
    margin-bottom: 15px;
    min-height: 0;
}

