

.mas_novedades{
    width:100%;
    background-color:#555555;
    margin:auto;
    padding:30px;
}

.mas_novedades a{
    font-size:24px;
    line-height:24px;
    color:#ffd300;
    text-decoration:none;
}

.mas_novedades a:hover{
    text-decoration:underline;
}

.propuesta, .propuesta-field-container{
    background-color: #FFD300;
}

.propuesta-text{
    background: url(../img/foco.png) no-repeat 3% 50%;
    padding-left: 100px;
    padding-top: 38px;
    padding-bottom: 38px;
    text-align: left;
}
.propuesta-text a{
    color: #2f2f2f;
    font-size: 28px;
    line-height: 25px;
    font-weight: 700;
    cursor: pointer;
}
.propuesta-text span{
    color: #2f2f2f;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.propuesta-field{
    background: #FFFFFF url(../img/avion.png) no-repeat 94% 50%;
    margin: 15px 20px;
    height: 100px;
    font-family: "Open Sans", sans-serif;
    border: none;
    font-size: 18px;
    line-height: 32px;
    font-style: italic;
    color: #3d3d3d;
    outline: none !important;
    padding-left: 20px;
    padding-right: 84px;
}


.box{
    height: 300px;
    padding: 28px;
}

@media (max-width: 350px) {
    .box{
        height: 400px;
        padding: 28px;
    }
}

.box-large{
height: 600px;
padding: 0 0 0 0;
}

#destacado-large-1.box-post-texto {
    padding: 28px;
}

#destacado-large-1 .box-noticia-titulo a{
    color: #000000;
}

#destacado-1{
    background-color: #ffffff;
}
#destacado-2{
    background-color: #F5F5F5;
}
#destacado-3{
    background-color: #E5E5E5;
}

#destacado-3 .box-noticia-titulo a {
    color: #000000;
}

#destacado-4{
    background-color: #FFCC00;
}

#destacado-5{
background-color: #F5F5F5;
}
#destacado-6 .box-noticia-titulo a, #destacado-6 .box-noticia-texto a, #destacado-4 .box-noticia-titulo a, #destacado-4 .box-noticia-texto a{
    color: #000000;
}
#destacado-6{
    background-color: #ffffff;
}

/* FOOTER */

#twitter-feed iframe{
    height: 470px;
}

.comparte {
    margin-top: 60px !important;
    margin-bottom: 60px;
}

.comparte p.titulo {
    font-size: 24px;
    line-height: 26px;
    color: #ffd300;
}

.social-circles a{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.enterate{
    font-size: 14px;
    line-height: 16px;
    color: #b2b4b6;
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: 700;
}

.footer-img-banner{
    background: #e8ebcc url(../img/banner02.jpg) no-repeat 50% 50%;
    height: 252px;
}

.footer_logo {
    width: 100%;
    background-color: #FFCC00;
    height: 290px;
}

.noticias-destacadas div {
    text-align: right;
}

.box-post-imagen div.box-noticia-date-category{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.39);
}

.box-noticia-category {
    font-size: 14px;
    line-height: 15px;
    color: #595959;
    padding-right: 0px;
    padding-left: 0px;
    font-weight: 700;
}

.post-novedad-date-category-container{
    background-color: rgba(255, 211, 0, 0.8);
    display: inline-block;
    text-align: left;
    padding: 4px;
    margin: 3px;
}

.box-post-imagen {
    text-align: left !important;
}
.box-noticia-titulo a{
    color: #ffcc00;
    text-decoration: none;
    line-height: 26px;
    font-size: 24px;
}

.box-noticia-titulo{
    padding-top: 10px;
}

.floating-marker {
    background-color: #FFD302;
    border: 5px solid #555555;
}


.floating-marker strong{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.floating-marker span{
    font-size: 30px;
    padding-left: 10px;
}

.box-noticia-texto, .box-noticia-texto p{
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    margin-bottom: 0;
}
.box-noticia-texto{
    padding-top: 20px;
}

.box-noticia-texto a{
    color: #ffcc00;
}

.colores-para-fondo-oscuro p{
    color: #ffffff !important;
}

.colores-para-fondo-oscuro a{
    color: #FFCC00 !important;
}

.social-slider img{
    padding-left: 10px;
}
.social-slider{
    width: auto;
    position: absolute;
    z-index: 99;
    left: 75%;
    margin-top: -115px;
}

.form-group label, .form-group div {
    margin-top: 20px;
}

#propuesta-form-container label, #propuesta-form-container legend{
    padding-left: 15px;

}
#propuesta-form-container button{
    float: right;
    margin-top: 40px;
    margin-right: 14px;
}
#propuesta-form-container{
    margin-bottom: 50px;
}
#resumen-biografico{
    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}