#legislatura-navigator{
    margin-top: 10px;
}
#legislatura-navigator li{
    cursor: pointer;
}

#legislatura-navigator li.seleccionada{
    background-color: #dfb900;
    color: #ffffff;
}

#legislatura-post-list{
    padding-top: 20px;
    padding-bottom: 5px;
    border-top: 2px solid #e3e3e3;
}