.mapa-panel-heading{
    background-color: #E5E5E5 !important;
    border-radius: 0 !important;
}

.mapa-panel-default{
    border-radius: 0 !important;
}

a.provincia_anchor:hover{
    color: #000000 !important;
}

#eventos_container div.lateral-excerpt {
    background-color: #FFFFFF;
}

#eventos_container a {
    font-size: 16px;
    font-weight: normal;
}
.mapa-eventos-title{
    font-size: 18px;
    line-height: 32px;
    color: #dfb900;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 700;
    letter-spacing: 7px;
    border-bottom: 3px solid #C4C4C4;
    margin-bottom: 10px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    width: 12px !important;
    height: 12px !important;
}
.jvectormap-zoomout {
    padding: 1px 0px 0px 0px!important;
}
.jvectormap-zoomin {
    padding: 1px 0px 0px 1px!important;
}