
/******************header******************/

@font-face {
    font-family: 'GillSansMTItalic';
    src: url('../fonts/gillsans-italic.eot');
    src: url('../fonts/gillsans-italic.eot') format('embedded-opentype'),
    url('../fonts/gillsans-italic.woff') format('woff'),
    url('../fonts/gillsans-italic.ttf') format('truetype'),
    url('../fonts/gillsans-italic.svg#GillSansMTItalic') format('svg');
}

@font-face {
    font-family: 'GillSansMTBoldItalic';
    src: url('../fonts/gillsans-bolditalic.eot');
    src: url('../fonts/gillsans-bolditalic.eot') format('embedded-opentype'),
    url('../fonts/gillsans-bolditalic.woff') format('woff'),
    url('../fonts/gillsans-bolditalic.ttf') format('truetype'),
    url('../fonts/gillsans-bolditalic.svg#GillSansMTBoldItalic') format('svg');
}


body{
    font-family: 'Open Sans', sans-serif;
}

.header .texto{
    height:86px;
}
.navbar li{
    text-align: center;
    flex-grow: 1;
}
.logo{
    background: #FFD302 url('../img/logo01.jpg') no-repeat center;
    height: 86px;
}
.header .texto .ajuste{
    padding-top:38px;
    padding-left:14px;
    font-family: 'GillSansMTBoldItalic';
    color:#b7b7b7;
    font-size:14px;
    line-height:16px;
}

.header .texto .ajuste span{
    font-family: 'GillSansMTItalic';
    color:#b7b7b7;
    font-size:14px;
    line-height:16px;
}

.header .buscador{
    height: 86px;
    background-color: #E5E5E5;
    background-image: url(../img/search_icon.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.header .buscador .ajuste{
    padding-top:21px;
    padding-left:26px;
}

.header .buscador .ajuste input[type=text]{
    font-family:"Open Sans", sans-serif;
    border:none;
    font-size:18px;
    line-height:32px;
    width:170px;
    font-style:italic;
    color:#3d3d3d;
    background: transparent;
    outline: none;
}

.navbar {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.navbar li{
    list-style:none;
    float:left;
    font-family:"Open Sans", sans-serif;
    font-size:15px;
    line-height:32px;
    font-weight:700;
    text-align:center;
    color:#5c5c5c;
}

.navbar li a{
    display:block;
    color:#5c5c5c;
    text-decoration:none;
}

.navbar li a:hover{
    color:#dfb800;
}

.navbar li.active{
    background-color:#FFD302;
}
.navbar li.active a{
    color:#fff;
}

.footer_logo {
    width: 100%;
    background-color: #FFCC00;
    height: 290px;
}

.footer-secciones{
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-secciones a {
    color: #6f6f6f;
    text-decoration: none;
}

.footer-secciones ul{
    padding: 0;
}
.footer-secciones li{
    list-style: none;
}

.footer-secciones a:hover {
    text-decoration: underline;
}

.footer-seccion-titulo{
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #b2b4b6 !important;
    font-weight: 700;
}

.navigation-box {
    width: 374px;
    height: 200px;
    margin-bottom: 10px;
}

.box_texto p{
    font-size: 14px;
    line-height: 32px;
    color: #fff;
}
.box_texto {
    padding: 30px;
    text-align: left;
    font-size: 24px;
    line-height: 26px;
    color: #ffcc00;
    text-transform: uppercase;
}

.header-logo-link{
    position: absolute;
    width: 300px;
    height: 100%;
    left: 50%;
    padding: 0px;
    margin: 0 0 0 -150px;
}

#navbar-collapse-01{
    width: 100%;
}


.subscription-field input{
    height: 80px;
    font-family: "Open Sans", sans-serif;
    background-color: #E5E5E5;
    border: none;
    font-size: 18px;
    line-height: 32px;
    width: 345px;
    font-style: italic;
    color: #3d3d3d;
    float: left;
}
.subscription-field{
    margin-bottom: 20px;
}
@media (max-width: 500px) {
    .subscription-field input{
        width: 280px;
    }
}

@media (max-width: 355px) {
    .subscription-field input{
        width: 220px;
    }
}

.subscription-field a{
    width: 75px;
    height: 80px;
    border: none;
    background-color: #FFCC00;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    display:table-cell;
    padding-top: 23px;
}

#banner-mis-publicaciones {
    padding: 0 0 0 0 !important;
    height: 250px;
    margin-top: 10px;
    background: #018ca9;
}
@media (max-width: 565px){
    .social-circles img{
        width: 100px;
        height: 100px;
    }
}