<div id="slider-home" class="fluid-container rslides_container"></div>

<div class="destacados container">
    <div class="row">
        <div id="destacado-large-1" class="col-md-4 box-large">

        </div>
        <div class="col-md-8 box-large noticias-destacadas">
            <div class="col-md-6 row">
                <div id="destacado-1" class="col-md-12 box"></div>
                <div id="destacado-3" class="col-md-12 box"></div>
            </div>
            <div class="col-md-6 row destacados-row2">
                <div id="destacado-2" class="col-md-12 box"></div>
                <div id="destacado-4" class="col-md-12 box"></div>
            </div>
        </div>
    </div>
    <div class="row noticias-destacadas">
        <div id="destacado-5" class="col-md-4 box post-novedad-box-1"></div>
        <div id="destacado-6" class="col-md-4 box post-novedad-box-2"></div>
        <div id="destacado-7" class="col-md-4 box post-novedad-box-3"></div>
    </div>
</div>

<div class="mas_novedades container-fluid text-center">
    <a class="" href="#novedades">Más Novedades</a>
</div>

<div class="propuesta container-fluid">
    <div class="container">
        <div class="propuesta-text text-center col-md-6 col-md-offset-3">
            <a id="propuesta-link">ENVIAME TU PROPUESTA</a><br>
            <span>Participá, escuchamos tus ideas.</span>
        </div>
        <div id="propuesta-form-container" class="col-md-12" style="display: none">


            <form id="propuesta-form" name="propuesta-form" class="form-group"
                  action="https://docs.google.com/forms/d/1SEfIlmZ_s-H2hUbZEvlz7dSTSFucEMm4YcqWIwgfPU0/formResponse">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="entry.952466806">Apellido y Nombre</label>

                        <div class="col-sm-10">
                            <input id="entry.952466806" name="entry.952466806" type="text" class="form-control" data-validation="required">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="entry.291902746">DNI</label>

                        <div class="col-sm-10">
                            <input id="entry.291902746" name="entry.291902746" type="number" placeholder=""
                                   class="form-control" data-validation="required number">

                            <p class="help-block">Ingresá solo los números, sin puntos.</p>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="entry.1557181366">E-mail</label>

                        <div class="col-sm-10">
                            <input id="entry.1557181366" name="entry.1557181366" type="text"  data-validation="email" class="form-control"
                                   data-validation="required" data-validation-error-msg="El e-mail ingresado no tiene un formato válido">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="entry.1585342475">Título de tu propuesta</label>

                        <div class="col-sm-10">
                            <input id="entry.1585342475" name="entry.1585342475" type="text" placeholder=""
                                   class="form-control" data-validation="required">

                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="entry.174314831">Elegí un eje temático</label>

                        <div class="col-sm-10">
                            <select id="entry.174314831" name="entry.174314831" class="form-control" data-validation="required">
                                <option>Calidad Institucional</option>
                                <option>Ciencia y Tecnología</option>
                                <option>Comunicación</option>
                                <option>Economía</option>
                                <option>Educación</option>
                                <option>Infraestructura</option>
                                <option>Justicia</option>
                                <option>Salud</option>
                                <option>Seguridad</option>
                                <option>Sustentabilidad</option>
                                <option>No estoy seguro</option>
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="entry.1823520899">Alcance geográfico</label>

                        <div class="col-sm-10">
                            <input id="entry.1823520899" name="entry.1823520899" type="text" placeholder=""
                                   class="form-control" data-validation="required">

                            <p class="help-block">Asigná a tu propuesta, un área geográfica de influencia. Pueden ser
                                una o más provincias si es un asunto regional.</p>
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="entry.658244780">Objetivo de tu propuesta</label>

                        <div class="col-sm-10">
                            <textarea id="entry.658244780" name="entry.658244780" class="form-control"
                                      rows="5" data-validation="required"></textarea>

                            <p class="help-block">Una propuesta es un mensaje público dirigido tanto a los ciudadanos
                                como a
                                los legisladores pidiendo que hagan algo. Describí el objetivo de la ley en lenguaje
                                claro.</p>
                        </div>

                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="entry.960861286">Descripción de tu propuesta</label>

                        <div class="col-sm-10">
                            <textarea id="entry.960861286" name="entry.960861286" class="form-control"
                                      rows="5" data-validation="required"></textarea>

                            <p class="help-block">Pedí al destinatario de tu propuesta que haga algo, como si estuvieras
                                hablando con él directamente.</p>
                        </div>
                    </div>

                    <button type="submit" class="btn-lg btn-default" style="float: right">Enviar</button>
                </fieldset>
            </form>


        </div>
    </div>
</div>
<div class="mas_novedades container-fluid text-center">
    <a id="resumen-bio-link">Resumen Biográfico</a>
    <div id="resumen-biografico" class="container" style="display: none;">
        Actualmente es Diputado de la Nación y profesor en la Universidad Torcuato Di Tella. Tiene un doctorado en Economía en el MIT (1991), fue Profesor Asistente de Economía en UCLA (1991-1995), economista jefe de YPF ( 1995-1998), Decano de la Escuela de Negocios de Di Tella ( 1998-2000/2002-2005 ), Secretario de Política Económica de la República de Argentina (2001) , profesor visitante de políticas públicas en la Escuela de Gobierno Kennedy de la Universidad de Harvard (2005-2007) y Presidente del Banco Ciudad de Buenos Aires (2008-2013). Ha escrito o editado ocho libros, y ha publicado numerosos trabajos en el ámbito de las finanzas internacionales y macroeconomía. En 2005, el Foro Económico Mundial de Davos, lo eligió como Joven Líder Global. En 2006 recibió el premio Konex por su contribución a la teoría económica.
        <br/>
        <br/>
        Currently Member Chamber of Representatives, National Congress and Professor at Universidad Torcuato Di Tella. He holds a Ph.D. in Economics from MIT (1991), was Assistant Professor of Economics at UCLA (1991-1995), Chief Economist of YPF (1995-1998), Dean of the Business School at Di Tella (1998-2000/2002-2005), Secretary of Economic Policy of the Republic of Argentina (2001), Visiting Professor of Public Policy at the Kennedy School of Government, Harvard University (2005-2007) and President of Banco Ciudad de Buenos Aires (2008-2013).He has written or edited eight books, and has published extensively in the area of international finance and macroeconomics. In 2005 the World Economic Forum of Davos, selected him as Young Global Leader. In 2006 he received the Konex award for his contributions to economic theory.
        <br/>
        <br/>
        <a href="#sobremi">Más sobre mí...</a>
    </div>
</div>
<div style="position: relative;">
    <div style="z-index:999999999999;position:fixed;float:left; vertical-align: middle;bottom: 10px;left:10px">
        <a href="#mapa" title="Federico por el país"><img src="../img/IconoMapa.png"></a>
    </div>
</div>
