<div id="mapa-container" class="container">
    <div class="mapa-eventos-title col-md-12">
        Federico por el país
    </div>
    <div class="col-md-12">
        <div id="mapa-argentina" class="col-md-7" style="height: 600px">

        </div>
        <div class="col-md-5" style="height: auto;overflow:auto;max-height: 600px">
            <div class="panel-group" style="height: auto;overflow:auto">
                <div class="panel panel-default mapa-panel-default">
                    <div class="panel-heading mapa-panel-heading">
                        <h4 class="panel-title">
                            <a class="provincia_anchor"><span id="provincia_name">Seleccioná una provincia</span> <span id="events_number" class="badge pull-right"></span></a>
                        </h4>
                    </div>
                    <div id="eventos_container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
