<div class="novedades-resultado-label container-fluid">
    <div class="container text-left">MÁS NOVEDADES</div>
</div>
<div class="container">
    <div class="novedades-search-field row text-center col-sm-12">
        <span class="col-md-12 text-left">BUSCAR NOTA POR AÑO:</span>

        <div class="col-md-12">
            <input id="novedades-search-input" type="number" placeholder="YYYY">
            <a id="novedades-search-button"></a>
        </div>
    </div>
</div>
<div id="novedades-post-list" class="container">

</div>
<div class="container text-center">
    <ul id="novedades-paginator" class="pagination">

    </ul>
</div>