<div class="container">

    <div class="row header-main">
        <div class="col-md-4 header-logo navbar-header" style="position: relative">
            <a href="#" class="header-logo-link"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>

        <div class="col-md-5 header-description hidden-xs hidden-sm">

        </div>

        <div class="col-md-3 buscador-container">
            <input class="buscador-field search-query" type="search" value="" placeholder="Buscar">
        </div>

    </div>

    <nav class="navbar navbar-embossed header-menu" role="navigation">
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav nav-justified">
                <li class="home-menu active"><a href="#">HOME</a></li>
                <li class="sobremi-menu"><a href="#sobremi">SOBRE MÍ</a></li>
                <li class="blog-menu"><a href="#blog">BLOG</a></li>
                <li class="legislatura-menu"><a href="#legislatura">LABOR PARLAMENTARIA </a></li>
                <li class="prensa-menu"><a href="#prensa">PRENSA</a></li>
                <li class="publicaciones-menu"><a href="#publicaciones">PUBLICACIONES</a></li>
            </ul>
        </div>
    </nav>

</div>

<div id="content"></div>

<div class="comparte container">
    <div class="row">
        <div class="col-md-7">
            <p class="titulo col-md-12">SEGUINOS A TRAVÉS DE:</p>

            <div class="row social-circles col-md-12 text-center">
                <a href=" https://www.facebook.com/federico.sturzenegger" target="_blank">
                    <img src="img/social_facebook.png" height="170">
                </a>
                <a id="imagen-social-twitter" href="https://twitter.com/fedesturze" target="_blank">
                    <img src="img/social_twitter.png" height="170">
                </a>
                <a href="https://www.youtube.com/user/federicosturzenegger" target="_blank">
                    <img src="img/social_youtube.png" height="170">
                </a>
            </div>

            <div id="banner-mis-publicaciones" class="enterate col-md-12 text-center">
                <a href="#publicaciones">
                    <img src="/img/mis_publicaciones.jpg">
                </a>
            </div>

        </div>
        <div class="col-md-5" id="navigation-images" style="display: none">
            <div class="box_thumb">
                <a id="blog-navigation-box" href="#blog">
                    <div class="navigation-box" style="background-image:url(img/prensa01.png);">
                        <div class="box_texto">
                            <p><b>BLOG</b></p>
                            ACTUALIDAD
                        </div>
                    </div>
                </a>
                <a id="legislatura-navigation-box" href="#legislatura">
                    <div class="navigation-box" style="background-image:url(img/prensa02.png);">
                        <div class="box_texto" style="padding-right: 50px;">
                            <p><b>labor parlamentaria</b></p>
                            Conocé en detalle cada proyecto
                        </div>
                    </div>
                </a>
                <a id="prensa-navigation-box" href="#prensa">
                    <div class="navigation-box" style="background-image:url(img/img_b.png);">
                        <div class="box_texto">
                            <p><b>PRENSA</b></p>
                            INVESTIGACIÓN, PAPERS, COLABORACIONES Y NOTAS
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-5" id="twitter-feed">
            <a class="twitter-timeline" href="https://twitter.com/fedesturze" data-widget-id="446026955951861761">Tweets
                by @fedesturze</a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
        </div>
    </div>
</div>
<div class="container-fluid footer-img-banner"></div>
<div class="container footer-secciones">
    <div class="row">
        <div class="col-md-4">
            <div class="footer-seccion-titulo"><a class="footer-seccion-titulo" href="#">FEDERICO STURZENEGGER</a></div>
            <div>
                <ul>
                    <li><a href="#sobremi">Sobre Mí</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#legislatura">Labor parlamentaria</a></li>
                    <li><a href="#prensa">Prensa</a></li>
                </ul>
            </div>

        </div>

        <div class="col-md-4">
            <div class="footer-seccion-titulo"><a class="footer-seccion-titulo" href="#publicaciones">PUBLICACIONES</a></div>
            <div>
                <ul>
                    <li><a href="#publicaciones?filtro=publicaciones-categoria-libros">Libros</a></li>
                    <li><a href="#publicaciones?filtro=publicaciones-categoria-colaboraciones">Capítulos de Libros</a></li>
                    <li><a href="#publicaciones?filtro=publicaciones-categoria-trabajos">Trabajos</a></li>
                    <li><a href="#publicaciones?filtro=publicaciones-categoria-trabajos-publicados">Trabajos Publicados</a></li>
                </ul>
            </div>

        </div>

        <div class="col-md-4">
            <div class="footer-seccion-titulo">
                CONTACTO DE PRENSA
            </div>

            <div class="texto">
                Si necesitas ayuda en la obtención del material de prensa, puedes contactarnos por redes sociales o
                directamente con nuestro equipo de prensa.<br>

                <a href="mailto:prensa@fsturzenegger.com.ar" style="color: #FFCC00;">prensa@fsturzenegger.com.ar</a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer_logo">
        <div class="wrapper">
            <div style="padding-top:50px; text-align:center;">
                <img src="img/logo_footer.png">
            </div>
        </div>
    </div>
</footer>